{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<div class="container">
<a href="{{path('create_user')}}" class="fa fa-user-plus" style="font-size:40px; color:green"></a>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.age }}</td>
        <td><a href="{{ path('edit_user', {'id': user.id}) }}" class="fa fa-pencil" style="font-size:40px; color:green"></a></td>
        <td><a href="{{ path('supprimer_user', {'id': user.id}) }}" class="fa fa-trash" style="font-size:40px; color:green"></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

</div>
 
{% endblock %}
